nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid 
        a.navbar-brand(href="/") 
            b.text-uppercase Articles App  

        ul.nav.align-items-center.pl-2  
            li.d-flex
                a.btn.btn-outline-secondary(href="/") All Articles 

            li.nav-item.ms-3  
                a.btn.btn-success(href="/createNew") Create New 