extends layout.pug 

block content 
    h1.heading.text-center Comments 
    .accordion#accordionExample
        .accordion-item.mb-3
            h2.accordion-header#headingOne
                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Accordion Item 1
            .accordion-collapse.collapse.show#collapseOne(aria-labelledby="headingOne" data-bs-parent="#accordionExample")
                .accordion-body
                    b Business Article 
                    br
                    span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur dolorem quaerat doloribus molestias aliquam, repudiandae quae voluptates dolore distinctio odit in sequi rerum harum nemo assumenda nisi voluptate ipsum sapiente.

